**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/node_modules
**/Uploads
**/logs
LICENSE
README.md
docker-compose*.yml
Dockerfile*
*.md